{
  "env": {
    "development": {
      "plugins": [
        ["inline-dotenv", { "path": "../../.env.development" }]
      ]
    },
    "production": {
      "plugins": [
        ["inline-dotenv", { "path": "../../.env" }]
      ]
    }
  },
  "presets": [
    "react-native"
  ]
}
